astroid==2.4.2
attrs==20.2.0
Automat==20.2.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
constantly==15.1.0
cryptography==3.1.1
cssselect==1.1.0
decorator==4.4.2
Flask==1.1.2
Flask-Cors==3.0.9
googletrans==3.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.10.20
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
hyperlink==20.0.1
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
incremental==17.5.0
isort==5.6.3
itemadapter==0.1.1
itemloaders==1.0.3
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.17.0
lazy-object-proxy==1.4.3
lxml==4.5.2
MarkupSafe==1.1.1
mccabe==0.6.1
moviepy==1.0.3
nltk==3.5
numpy==1.19.2
opencv-python==4.4.0.44
parsel==1.6.0
Pillow==7.2.0
proglog==0.1.9
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
PyHamcrest==2.0.2
pylint==2.6.0
pyOpenSSL==19.1.0
pytube==9.6.0
pytube3==9.6.4
queuelib==1.5.0
regex==2020.10.11
requests==2.24.0
rfc3986==1.4.0
Scrapy==2.4.0
service-identity==18.1.0
six==1.15.0
sniffio==1.2.0
toml==0.10.1
tqdm==4.50.2
Twisted==20.3.0
typing-extensions==3.7.4.3
urllib3==1.25.10
w3lib==1.22.0
Werkzeug==1.0.1
wrapt==1.12.1
zope.interface==5.1.2
